{
  "extends": [
    "react-app",
    "standard",
    "standard-react"
  ],
  "rules": {
    "react/prop-types": 0,
    "func-style": [
      "error",
      "expression",
      {
        "allowArrowFunctions": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-var": "error",
    "prefer-arrow-callback": "error",
    "quote-props": [
      "error",
      "as-needed"
    ]
  }
}
