.dashboard-search-form{
  background-color: #EEEEEE;
  padding: 20px !important;
}

.dashboard-pagination{
  background-color: #EEEEEE;
  padding: 20px;
}

.product-image{
  display: block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
}

.cart-image{
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
}

.product-card{
  margin: 20px !important;
  height: 250px;
  border: 2px solid #D9D9D9 !important;
  box-shadow: 5px 5px 5px #EEEEEE;
}

.cart-details{
  text-align: right;
}

.ant-card-meta-description{
  color: black !important;
}

.products-empty{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 100px
}

.checkout-form{
  margin: 10px 40px !important;
}
